@{
    Layout = "/Areas/admin/Views/_Shared/_LayoutAdmin.cshtml";
    ViewBag.Title = "Kategori Yönetimi";
}

<div class="col-md-12" style="margin-top:25px;">
    <div class="row">
        <a href="/admin/Makale" class="btn btn-primary" style="margin-top:15px;margin-bottom:15px;">Geri Git</a>
        <form action="/admin/Makale/Update/@Model.id" method="post" enctype="multipart/form-data">

            <img src="~/images/@Model.Images" width="250" style="margin-bottom:15px;" />

            <input type="file" name="resim" class="form-control" style="margin-top:15px;margin-bottom:15px" />

            <input type="text" name="BlogName" class="form-control" style="margin-top:15px;margin-bottom:15px" value="@Model.BlogName" />

            <select name="CategoriesId" class="form-control" style="margin-top:15px;margin-bottom:15px" placeholder="Blog Adı">
                @foreach (var item in ViewBag.Kategoriler)
                {
                    <option value="@item.id">@item.CategoryName</option>
                }
            </select>

            <textarea name="Explanation" class="form-control" style="margin-top:15px;margin-bottom:15px;height:250px;">@Model.Explanation</textarea>

            <button type="submit" class="btn btn-primary"> Kaydet</button>

        </form>
        @if (ViewBag.Mesaj != null)
        {
            <div class="alert alert-dark">@ViewBag.Mesaj</div>
        }
    </div>
</div>