@{
    Layout = "/Areas/admin/Views/_Shared/_LayoutAdmin.cshtml";
    ViewBag.Title = "Kullanıcı Yönetimi";
}

<div class="col-md-12" style="margin-top:25px;">
    <div class="row">
        <a href="/admin/Kullanicilar/Insert" class="btn btn-primary" style="margin-top:15px;margin-bottom:15px;">Yeni Ekle </a>

        <table class="table table-bordered">
            <thead>
                <tr>
                    <td>Id</td>
                    <td>Ad Soyad</td>
                    <td>Telefon</td>
                    <td>Email</td>
                    <td>Yetki</td>
                    <td>İşlemler</td>
                </tr>
            </thead>
            <tbody>
                @foreach(var item in Model)
                {
                    <tr>
                        <td>@item.id</td>
                        <td>@item.NameSurName</td>
                        <td>@item.Phone</td>
                        <td>@item.Eposta</td>
                        <td>@item.Roles</td>
                        <td>
                            <a href="/admin/kullanicilar/Update/@item.id" class="btn btn-primary">Güncelle</a>
                            <a href="/admin/kullanicilar/Delete/@item.id" class="btn btn-danger">Sil</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
     </div>
</div>
